/* General container styles */
.carousel-container {
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

/* Profile section styling */
.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-section-info {
  display: flex;
  align-items: center;
}

/* Profile image styling */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Profile name styling */
.profile-name {
  margin-left: 12px;
  color: #19202c;
  font-size: 26px;
  font-weight: 700; /* Combined font-style and font-weight */
}

/* Carousel styling */
.carousel {
  display: flex;
  overflow: hidden;
  padding-top: 10px;
  gap: 20px;
}

/* Card styling */
.card {
  flex: 0 0 250px; /* Combined flex properties */
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

/* Content title styling */
.content-title {
  padding-top: 10px;
  color: #19202c;
  font-weight: 700;
}

/* Content profile info styling */
.content-profile__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  color: #c2c2c2;
  font-size: 13px;
}

/* Views count styling */
.views-count {
  margin-left: 3px;
}

.views-count::before {
  content: "• ";
}
