.carousel-container {
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-section-info{
  display: flex;
  align-items: center;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
  color: #19202c;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 12px;
}

.carousel {
  display: flex;
  overflow: hidden;
  padding-top: 10px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 250px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

.content-title {
  display: block;
  padding-top: 10px;
  color: #19202c;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content-profile__info {
  display: flex;
  margin-top: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #c2c2c2;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.views-count {
  margin-left: 3px;
}

.views-count::before {
  content: "• ";
}
