header {
  display: flex;
  height: 84px;

  align-items: center;
}

.youtube-logo {
  display: flex;
  padding-left: 16px;
  align-items: center;
}
.menu-icon {
  display: flex;
  width: 52px;
  justify-content: center;
  align-items: center;
}
.logo-main {
  width: 140px;
  display: flex;
  justify-content: center;
  margin-right: 45px;
}

.logo-main :first-child {
  margin-right: 4px;
}
.search-group {
  display: flex;
  max-width: 830px;
  width: 82%;
}
.search-wrapper {
  display: flex;
  width: 82%;
  justify-content: space-between;
}

.top-nav {
  background-color: #fff;
  border-bottom: 3px solid blue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  height: 40px;
  border: none;
  flex-grow: 1;
  border-radius: 22px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.3;
  background: #ebebeb;
}

.search-box::placeholder {
  vertical-align: middle;
  padding-left: 23px;
  color: #30384c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-icon {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border: none;
  opacity: 0.3;
  background: #ebebeb;
  padding-right: 15px;
}

.icons {
  display: flex;
  align-items: center;
  width: 253px;
  justify-content: space-between;
}

.icons-btn {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("path-to-your-profile-image.jpg");
}
