/* Global Styles */
body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/* Layout and Structure */
.wrapper {
  display: flex;
  padding-bottom: 40px;
}

.sections-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 45px;
  max-width: 1700px;
  width: 100%;
  overflow: hidden;
}

/* Sidebar Styling */
aside {
  max-width: 255px;
  padding-left: 30px;
  color: #c2c2c2;
}

.youtube-sidebar {
  background-color: #fff;
}

.navigation-items {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.navigation-items__main,
.navigation-items__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 136px;
  font-weight: 400;
}

.navigation-items__main {
  height: 117px;
}

.navigation-items__second {
  margin-top: 59px;
  height: 363px;
}

/* Navigation Items Styling */
.navigation-items li {
  display: flex;
  align-items: center;
}

.navigation-items li > svg {
  margin-right: 15px;
}

.navigation-items__second li:last-child {
  margin-left: 4px;
}

.navigation-items li:hover {
  border-left: 3px solid red;
  cursor: pointer;
}

/* Subscription Section Styling */
.subscription-section {
  margin-top: 59px;
  width: 159px;
}

.subscription-section h2 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
}

.subscription-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  height: 271px;
}

.subscription-items li {
  display: flex;
  align-items: center;
}

.subscription-items li > img {
  margin-right: 10px;
}

/* Settings Section Styling */
.settings {
  display: flex;
  align-items: center;
  margin-top: 104px;
}

.settings > svg {
  margin-left: 4px;
  margin-right: 12px;
}

/* Profile Section Styling */
.profile-section svg {
  margin-right: 10%;
}
