@import "../css/mixins";
@import "../css/variables";

.bgimage {
  width: 100%;
  height: 280px;
  background-image: url("./assets/channel/channel_img.png");
  border-radius: 15px;

  @media (max-width: 640px) {
    width: 320px;
    height: 100px;
    background-image: url("./assets/channel/channel_mob.png");
    border-radius: 0;
  }
}

.channel {
  width: 100%;
  margin-top: 28px;
}

.channel-header {
  .flex-display(row,space-between, flex-start);
  padding-right: 70px;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.channel-info {
  .flex-display();
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: -62px;
    margin-left: 16px;
  }
}

.channel-icon {
  width: @channel-icon-size-big;
  height: @channel-icon-size-big;
  margin-right: 3px;

  @media (max-width: 640px) {
    width: 70px;
    height: 70px;
  }
}

.channel-title {
  margin-left: 12px;
  color: @primary-color;
  font-size: @font-large;
  font-weight: 700;

  @media (max-width: 640px) {
    font-size: 20px;
    margin-left: 0;
    margin-top: 4px;
  }
}

.channel-recommendation {
  margin-top: 5px;
  margin-left: 10px;
  color: @secondary-color;
  font-size: @font-small;
  font-weight: 400;

  @media (max-width: 640px) {
    margin-left: 0;
  }
}

.subscribe-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: @border-radius-big;
  @media (max-width: 640px) {
    border-radius: 20px;
    font-size: 12px;
    padding: 10px 18px;
    margin-top: 20px;
  }
}

.content-info {
  padding: @padding-small;
}

.content-title {
  font-size: @font-medium;
  margin: 0;
}

.content-views {
  font-size: @font-small;
  margin-top: 5px;
}

.control-panel {
  .flex-display(row, flex-end, flex-end);
  margin-right: 25px;
  width: 200px;

  @media (max-width: 640px) {
    width: 120px;
    padding-left: 15px;
  }
  svg {
    padding-right: 20px;

    @media (max-width: 640px) {
      display: none;
    }
  }
}

.creator,
.views-count {
  white-space: nowrap;
  overflow: hidden;
}

.channel-nav {
  margin-top: 20px;
  max-width: 830px;
  width: 100%;
  @media (max-width: 640px) {
    margin-top: 30px;
  }

  ul {
    .flex-display(row, space-between, flex-end);
    @media (max-width: 640px) {
      padding: 0 16px;
    }
    li > a {
      color: @primary-color;
      text-decoration: none;
      font-size: @font-mediumL;
      @media (max-width: 640px) {
        font-size: 14px;
      }
    }

    @media (min-width: 640px) {
      > *:nth-last-child(5) {
        display: none;
      }
    }
    @media (max-width: 640px) {
      > *:nth-last-child(4),
      > *:nth-last-child(3),
      > *:nth-last-child(2),
      > *:last-child {
        display: none;
      }
    }
  }
  .selected {
    color: @selected-color;
    font-weight: 700;
    text-decoration: underline;
  }
}

.channel-main {
  .flex-display(column, flex-start, flex-start);
}
